base_url = "/"
external_base_url = "https://example.com/"
site_title = "ao!!"
self_authors = ["https://cohost.org/staff"]
interesting_tags = [["photography"], ["reading", "watching", "listening"]]
# archived_thread_tags_path = "path/to/archived_thread_tags.txt"
# interesting_output_filenames_list_path = "path/to/output_interesting.txt"
# interesting_archived_threads_list_path = "path/to/interesting.txt"
# excluded_archived_threads_list_path = "path/to/excluded.txt"

[renamed_tags]
"Laptop stickers" = "laptop stickers"

[implied_tags]
"bird photography" = ["photography"]

[[nav]]
href = "."
text = "posts"
