@font-face {
    src: url(Atkinson-Hyperlegible-Regular-102.woff2);
    font-family: Atkinson Hyperlegible;
}
@font-face {
    src: url(Atkinson-Hyperlegible-Italic-102.woff2);
    font-family: Atkinson Hyperlegible;
    font-style: italic;
}
@font-face {
    src: url(Atkinson-Hyperlegible-Bold-102.woff2);
    font-family: Atkinson Hyperlegible;
    font-weight: bold;
}
@font-face {
    src: url(Atkinson-Hyperlegible-BoldItalic-102.woff2);
    font-family: Atkinson Hyperlegible;
    font-style: italic;
    font-weight: bold;
}
* {
    box-sizing: border-box;
}
html {
    font-family: Atkinson Hyperlegible, system-ui, sans-serif;
}
body {
    margin: 1em auto;
    padding: 0 1em;
    max-width: 42em;
}
body > nav {
    text-align: center;
}
body > nav ul {
    list-style: "";
    padding: 0;
}
body > nav li {
    display: inline list-item;
    margin: 1em;
}
ul.tags a {
    display: inline-block;
}
article.thread {
    border: 1px solid black;
    margin: 1em auto;
}
body > nav :link,
body > nav :visited,
article.thread :link,
article.thread :visited {
    color: currentColor;
}
article.post {
    position: relative;
    contain: inline-size style layout paint;
    overflow: clip;
    overflow-wrap: break-word;
}
article.post:not(:first-child) {
    border-top: 1px solid black;
}
article.thread > header,
article.post > header,
article.post > footer:not(:empty) {
    padding: 1em;
    background: #c0c0c0;
}
article.thread > header .meta,
article.post > header .meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
article.thread > header .handle,
article.post > header .handle,
article.thread > header .archived,
article.post > header .archived,
article.thread > header .time,
article.post > header .time,
article.thread > header time,
article.post > header time {
    color: #606060;
}
article.thread > header .gap,
article.post > header .gap {
    width: 2em;
    visibility: hidden;
    text-align: center;
}
article.post > header > h1:not(:empty) {
    margin: 0.5rem 0 0;
}
article.post > .content {
    margin: 1em;
}
/* cohost compatibility */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
}
:root {
    --color-notWhite: 255 249 242;
    --color-notBlack: 25 25 25;
    --color-cherry: 131 37 79;
    --color-strawberry: 229 107 111;
    --color-mango: 255 171 92;
    --color-longan: 255 216 168;
    --color-text: var(--color-notWhite);
    --color-bg-text: var(--color-notBlack);
    --color-foreground-100: 253 206 224;
    --color-foreground-200: 238 173 199;
    --color-foreground-300: 211 116 155;
    --color-foreground-400: 174 68 115;
    --color-foreground-500: 131 37 79;
    --color-foreground-600: 103 26 61;
    --color-foreground-700: 81 17 46;
    --color-foreground-800: 59 9 32;
    --color-foreground: var(--color-cherry);
    --color-secondary-200: 244 187 187;
    --color-secondary-300: 238 153 155;
    --color-secondary-400: 229 107 111;
    --color-secondary-600: 164 42 47;
    --color-secondary-700: 123 27 31;
    --color-secondary: var(--color-strawberry);
    --color-tertiary: var(--color-longan);
    --color-tertiary-200: 255 229 196;
    --color-tertiary-300: 255 216 168;
    --color-tertiary-400: 255 202 122;
    --color-tertiary-500: 183 133 61;
    --color-tertiary-600: 183 133 61;
    --color-tertiary-700: 132 94 38;
    --color-accent: var(--color-mango);
    --color-background: var(--color-notWhite);
    --color-sidebar-bg: var(--color-notWhite);
    --color-sidebar-text: var(--color-notBlack);
    --color-sidebar-accent: var(--color-cherry);
    --color-compose-button: var(--color-foreground);
    --color-compose-button-400: var(--color-foreground-400);
    --color-compose-button-600: var(--color-foreground-600);
}
article.post.cohost > .content img,
article.post.cohost > .content video {
    max-width: 100%;
    height: auto;
}
article.post.cohost > .content img,
article.post.cohost > .content video,
article.post.cohost > .content audio {
    display: block;
}
article.post.cohost > .content :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 2em;
    margin-bottom: 2em;
}
