<!doctype html><meta charset="utf-8">
<base href="{{ SETTINGS.base_url }}">{# you can change your base url without rerunning cohost2autost #}
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="{{ SETTINGS.base_url }}style.css">
<title>autost</title>
<body data-base-url="{{ SETTINGS.base_url }}">
<nav>
    <ul>
    {%~ for link in SETTINGS.nav ~%}<li><a href="{{ SETTINGS.base_url_relativise(link.href) }}">{{ link.text }}</a>{%~ endfor ~%}
    </ul>
</nav>
<form class="compose" method="post" action="{{ SETTINGS.base_url }}preview">
    <textarea class="source" name="source">{{ source }}</textarea>
    <button type="submit" class="preview" value="preview" formaction="{{ SETTINGS.base_url }}preview">preview</button>
    <button type="submit" class="publish" value="publish" formaction="{{ SETTINGS.base_url }}publish">publish</button>
    <details open class="expand server"><summary>show shared posts in full?</summary></details>
    <pre class="error"></pre>
    <div class="preview"></div>
</form>

<script src="{{ SETTINGS.base_url }}script.js"></script>
