<!doctype html><meta charset="utf-8">
<link rel="stylesheet" href="{{ SETTINGS.base_url }}style.css">
{% for post_group in post_groups %}
<article class="post_group">
{% if !post_group.meta.references.is_empty() %}
<header>
    <div class="meta">
        {% if let Some(author) = post_group.meta.author %}<span itemprop="author"><a href="{{ author.href }}">{{ author.display_name }}</a> <a href="{{ author.href }}" class="handle">{{ author.display_handle }}</a></span>{% endif %}
        <span class="gap">{% if post_group.meta.author.is_some() && post_group.meta.published.is_some() %}—{% endif %}</span>
        <a class="time" href="{{ post_group.href }}">
        {% if let Some(published) = post_group.meta.published %}<time datetime="{{ published }}">{{ published }}</time>{% endif %}
        </a>
    </div>
</header>
{% endif %}
{% for post in post_group.posts %}
<article class="post cohost">
    <header>
        <div class="meta">
            {% if let Some(author) = post.meta.author %}<span itemprop="author"><a href="{{ author.href }}">{{ author.display_name }}</a> <a href="{{ author.href }}" class="handle">{{ author.display_handle }}</a></span>{% endif %}
            <span class="gap">{% if post.meta.author.is_some() && post.meta.published.is_some() %}—{% endif %}</span>
            {% if post_group.meta.references.is_empty() %}<a class="time" href="{{ post_group.href }}">{% endif %}
            {% if let Some(published) = post.meta.published %}<time datetime="{{ published }}">{{ published }}</time>{% endif %}
            {% if post_group.meta.references.is_empty() %}</a>{% endif %}
        </div>
        <h1>
            {% if post_group.meta.references.is_empty() %}<a href="{{ post_group.href }}">{% endif %}
            {% if let Some(title) = post.meta.title %}{{ title }}{% endif %}
            {% if post_group.meta.references.is_empty() %}</a>{% endif %}
        </h1>
    </header>
    {% if !post.meta.is_transparent_share %}
    <div class="content">{{ post.safe_html|safe }}</div>
    {% endif %}
    <footer>{% for tag in post.meta.tags %}
        {%- if SETTINGS.interesting_tags.contains(tag) -%}<a href="{{ tag }}.html">{%- endif -%}
        <span>#{{ tag }}</span>
        {%- if SETTINGS.interesting_tags.contains(tag) -%}</a>{%- endif -%}
        &#x2003;
    {% endfor %}</footer>
</article>
{% endfor %}
</article>
{% endfor %}
