{% for thread in threads %}
<article class="thread"{% if let Some(url) = thread.url_for_original_path()? %} data-original-path="{{ url }}"{% endif %}>
{% if !thread.meta.references.is_empty() %}
{{ ThreadOrPostHeaderTemplate::new(thread,thread.meta,true)|safe }}
{% endif %}
{% for post in thread.posts %}
<article class="post cohost">
{{ ThreadOrPostHeaderTemplate::new(thread,post.meta,false)|safe }}
    {% if !post.meta.is_transparent_share %}
    <div class="content">{{ post.safe_html|safe }}</div>
    {% endif %}
    <footer><div class="tags">{% for tag in post.meta.tags %}
        {#- TODO: build tag page href properly in path module -#}
        {%- if SETTINGS.tag_is_interesting(tag) -%}<a class="tag" href="tagged/{{ tag }}.html">{%- endif -%}
        <span class="tag">#{{ tag }}</span>
        {%- if SETTINGS.tag_is_interesting(tag) -%}</a>{%- endif -%}
        &#x2003;
    {% endfor %}</div><div class="actions"></div></footer>
</article>
{% endfor %}
</article>
{% endfor %}
