{% for thread in threads %}
<article class="thread h-entry"{% if let Some(url) = thread.url_for_original_path()? %} data-original-path="{{ url }}"{% endif %}>
{% if !simple_mode && !thread.meta.references.is_empty() %}
{{ ThreadOrPostHeaderTemplate::new(thread,thread.meta,true)|safe }}
{% endif %}
{% for post in thread.posts_in_thread() %}
<{% if simple_mode && !post.is_main_post %}blockquote style="
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #bfbab5;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 5px #00000024, 0px 1px 10px #0000001f, 0px 2px 4px #0003;
"{% else %}article{% endif %} class="post cohost{% if !post.is_main_post %} h-entry{% endif %}">
{% if !simple_mode || !post.is_main_post %}{{ ThreadOrPostHeaderTemplate::new(thread,post.inner.meta,false)|safe }}{% endif %}
    {% if !post.inner.meta.is_transparent_share %}
    <div class="content e-content">{{ post.inner.safe_html|safe }}</div>
    {% endif %}
    <footer><div class="tags">{% for tag in post.inner.meta.tags %}
        {#- TODO: build tag page href properly in path module -#}
        {%- if SETTINGS.tag_is_interesting(tag) -%}<a class="tag" href="tagged/{{ tag }}.html">{%- endif -%}
        <span class="tag">#<span class="p-category">{{ tag }}</span></span>
        {%- if SETTINGS.tag_is_interesting(tag) -%}</a>{%- endif -%}
        &#x2003;
    {% endfor %}</div><div class="actions"></div></footer>
</{% if simple_mode && !post.is_main_post %}blockquote{% else %}article{% endif %}>
{% endfor %}
</article>
{% endfor %}
