<!doctype html><meta charset="utf-8">
<base href="{{ SETTINGS.base_url }}">{# you can change your base url without rerunning cohost2autost #}
{%~ if let Some(feed_href) = feed_href ~%}<link rel="alternate" type="application/atom+xml" href="{{ feed_href }}">{%~ endif ~%}
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="{{ SETTINGS.base_url }}style.css">
<title>{{ page_title }}</title>
<nav>
    <ul>
    {%~ for link in SETTINGS.nav ~%}<li><a href="{{ link.href }}">{{ link.text }}</a>{%~ endfor ~%}
    </ul>
    {% for tags in SETTINGS.interesting_tag_groups_iter() %}<ul class="tags">
    {% for tag in tags -%}<li><a href="tagged/{{ tag }}.html">#{{ tag }}</a>{{ "\n" }}{%- endfor %}
    </ul>{% endfor %}
    <hr>
    <ul>
    {%~ if let Some(feed_href) = feed_href ~%}<li><a href="{{ feed_href }}">atom feed</a> for everything you see here{%~ endif ~%}
    </ul>
</nav>
{% for thread in threads %}
<article class="thread">
{% if !thread.meta.references.is_empty() %}
<header>
    <div class="meta">
        {% if let Some(author) = thread.meta.author %}<span itemprop="author"><a href="{{ author.href }}">{{ author.display_name }}</a> <a href="{{ author.href }}" class="handle">{{ author.display_handle }}</a></span>{% endif %}
        <span class="gap">{% if thread.meta.author.is_some() && thread.meta.published.is_some() %}—{% endif %}</span>
        <span>
        {% if let Some(archived) = thread.meta.archived %}<a class="archived" href="{{ archived }}">[archived]</a>{% endif %}
        <a class="time" href="{{ thread.href }}">
        {% if let Some(published) = thread.meta.published %}<time datetime="{{ published }}">{{ published }}</time>{% endif %}
        </a>
        </span>
    </div>
</header>
{% endif %}
{% for post in thread.posts %}
<article class="post cohost">
    <header>
        <div class="meta">
            {% if let Some(author) = post.meta.author %}<span itemprop="author"><a href="{{ author.href }}">{{ author.display_name }}</a> <a href="{{ author.href }}" class="handle">{{ author.display_handle }}</a></span>{% endif %}
            <span class="gap">{% if post.meta.author.is_some() && post.meta.published.is_some() %}—{% endif %}</span>
            <span>
            {% if let Some(archived) = post.meta.archived %}<a class="archived" href="{{ archived }}">[archived]</a>{% endif %}
            {% if thread.meta.references.is_empty() %}<a class="time" href="{{ thread.href }}">{% endif %}
            {% if let Some(published) = post.meta.published %}<time datetime="{{ published }}">{{ published }}</time>{% endif %}
            {% if thread.meta.references.is_empty() %}</a>{% endif %}
            </span>
        </div>
        <h1>
            {% if thread.meta.references.is_empty() %}<a href="{{ thread.href }}">{% endif %}
            {% if let Some(title) = post.meta.title %}{{ title }}{% endif %}
            {% if thread.meta.references.is_empty() %}</a>{% endif %}
        </h1>
    </header>
    {% if !post.meta.is_transparent_share %}
    <div class="content">{{ post.safe_html|safe }}</div>
    {% endif %}
    <footer>{% for tag in post.meta.tags %}
        {%- if SETTINGS.tag_is_interesting(tag) -%}<a href="tagged/{{ tag }}.html">{%- endif -%}
        <span>#{{ tag }}</span>
        {%- if SETTINGS.tag_is_interesting(tag) -%}</a>{%- endif -%}
        &#x2003;
    {% endfor %}</footer>
</article>
{% endfor %}
</article>
{% endfor %}
