<!doctype html><meta charset="utf-8">
{%~ if let Some(feed_href) = feed_href ~%}<link rel="alternate" type="application/atom+xml" href="{{ feed_href.internal_url() }}">{%~ endif ~%}
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="style.css">
<title>{{ page_title }}</title>
{%~ if let Some(thread_page_meta) = thread_page_meta ~%}{{ thread_page_meta|safe }}{%~ endif ~%}
<body data-base-url="{{ SETTINGS.base_url }}">
<nav>
    <ul>
    {%~ for link in SETTINGS.nav ~%}<li><a href="{{ link.href }}">{{ link.text }}</a>{%~ endfor ~%}
    </ul>
    {% for tags in SETTINGS.interesting_tag_groups_iter() %}<ul class="tags">
    {% for tag in tags -%}<li><span class="tag">
        <a class="tag" href="tagged/{{ tag }}.html">#<span class="p-category">{{ tag }}</span></a><span class="actions"></span>
    </span>{%- endfor %}
    </ul>{% endfor %}
    <hr>
    <ul>
    {%~ if let Some(feed_href) = feed_href ~%}<li><a href="{{ feed_href.internal_url() }}">atom feed</a> for everything you see here{%~ endif ~%}
    </ul>
</nav>
{{ threads_content|safe }}
<script src="script.js"></script>
