<!doctype html><meta charset="utf-8">
<base href="{{ SETTINGS.base_url }}">{# you can change your base url without rerunning cohost2autost #}
{%~ if let Some(feed_href) = feed_href ~%}<link rel="alternate" type="application/atom+xml" href="{{ feed_href.internal_url() }}">{%~ endif ~%}
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="{{ SETTINGS.base_url }}style.css">
<title>{{ page_title }}</title>
<nav>
    <ul>
    {%~ for link in SETTINGS.nav ~%}<li><a href="{{ link.href }}">{{ link.text }}</a>{%~ endfor ~%}
    </ul>
    {% for tags in SETTINGS.interesting_tag_groups_iter() %}<ul class="tags">
    {% for tag in tags -%}<li><a href="tagged/{{ tag }}.html">#{{ tag }}</a>{{ "\n" }}{%- endfor %}
    </ul>{% endfor %}
    <hr>
    <ul>
    {%~ if let Some(feed_href) = feed_href ~%}<li><a href="{{ feed_href.internal_url() }}">atom feed</a> for everything you see here{%~ endif ~%}
    </ul>
</nav>
{{ content|safe }}
<script src="script.js"></script>
