name: "Nix Build/Cache"

on:
  push:
    # Runs on pushes targeting the default branch
    branches: ["main"]

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - macos-13
    runs-on: '${{ matrix.os }}'
    steps:
    - uses: actions/checkout@v4
    # Install Nix in the runner
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    # Setup Cachix to push build results to cache
    - uses: cachix/cachix-action@v14
      with:
        name: autost
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    # Run build
    - run: nix build -L
